<div class="container">
  <div class="row justify-content-center">
    <h1>Edit Bodies of Water</h1> <br>
  </div>

  <div class="row justify-content-center">
    <%= render 'form', body: @body%>
  </div>
</div>