<div class="form-group">
  <div class="row justify-content-center">
    <h1>Create New Body of Water</h1> <br>
  </div>

  <div class="form-group">
    <%= render 'form', body: @body%>
  </div>
</div>