<tr class='nested-fields'>
  <td><%= f.association :body, as: :select, label: false, class: "form-control" %> </td>
  <td><%= f.input :amount, label: false, class: "form-control"%> </td>
  <td>
    <%= link_to_remove_association "Remove", f %>
  </td>
</tr>